*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  margin: 0;
}

body {
  --sannes-blue:#1b75b3;
  --hoofdKleur:#37332f;
  --achtergrondKleur:#e1ddd9;
  --achtergrondHighlightKleur:#fffbf7;
  
  font-family:"Saira", sans-serif;
  color: var(--hoofdKleur);
  background-color: var(--achtergrondKleur);
}

h1, h2 {
  justify-self: flex-start;
  font-family: 'Saira Condensed', sans-serif;
  font-weight:100;
  line-height:1.1em;
}

h1 {
  font-size:clamp(3rem, 12vw, 5rem);
}

h2 {
  font-size:clamp(2rem, 8vw, 3.5rem);
}

h3, legend {
  font-size:clamp(1rem, 5vw, 1.25rem);
  font-weight:600;
  margin-bottom:0;
}

p {
  line-height:1.75em;
}

h3 + p {
  margin-top:0;
}

strong {
  font-weight:600;
}

@keyframes rainbow {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right top;
  }
}

img {
  max-width:100%;
}

/* links en labels*/
input[type="checkbox"], input[type="checkbox"] + label {
  cursor:pointer;
}

a {
  --linkKleur:var(--sannes-blue);
  --linkDecoration:underline;
  color:var(--partyHoverLinkColor, var(--headerLinkKleur, var(--linkKleur)));
  text-decoration:var(--partyHoverLinkDecoration, var(--headerLinkDecoration, var(--linkDecoration)));
  text-underline-offset:1.5px;
  text-decoration-thickness:1px;
}

a:visited {
  --linkKleur:#8040bf;
}

a:active {
  --linkKleur:crimson;
}

header a,
footer a {
  --headerLinkKleur:var(--headerHoverLinkKleur, var(--headerReverseLinkKleur, currentColor));
  --headerLinkDecoration:var(--headerHoverLinkDecoration, none);
}
  
body.header-reverse header a {
  --headerReverseLinkKleur:var(--achtergrondKleur);
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  --headerHoverLinkKleur:var(--sannes-blue);
}

header a:hover,
footer a:hover {
  --headerHoverLinkDecoration:underline;
}

body:not(.party-pooper) a:hover,
body:not(.party-pooper) a:focus {
  --partyHoverLinkColor:currentColor;
  --partyHoverLinkDecoration:none;
}

/* regenboog */
body:not(.party-pooper) a:hover,
body:not(.party-pooper) a:focus:focus-visible,
body:not(.party-pooper) input:focus + label,
body:not(.party-pooper) input:hover + label,
body:not(.party-pooper) label:hover,
body:not(.party-pooper) summary:hover,
body:not(.party-pooper) summary:focus:focus-visible {
  background-image: linear-gradient(
    45deg,
    crimson,
    darkorange, 
    gold,
    yellowgreen,
    var(--sannes-blue),
    rebeccapurple,
    crimson,
    darkorange, 
    gold,
    yellowgreen,
    var(--sannes-blue),
    rebeccapurple,
    crimson );
  background-size:200% 200%;

  animation-name:rainbow;
  animation-duration:2s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}


/***********/
/* WRAPPER */
/***********/
body > div.helaas-een-wrapper {
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  overflow:auto;

  display:grid;
  grid-template-columns:2fr minmax(auto, 44rem) 5fr;
  grid-template-rows:min-content max-content min-content;
  grid-gap:clamp(1rem, 6vw, 5rem);
  align-items: flex-start;
}


/**********/
/* HEADER */
/**********/
header {
  position:sticky;
  top:0;
  grid-column:1/-1;
  padding:.25em 0;
  z-index:100;

  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;

  background-color:var(--achtergrondKleur);
  transition:color .25s, background-color .25s;
}

body.header-reverse header {
  background-color:var(--hoofdKleur);
  color:var(--achtergrondKleur);
}

/* logo */
header a,
header a:visited {
  padding:0 .5em;

  display:flex;
  align-items:center;
}

header a::before {
  content:"CSS to\00a0the Rescue";
  width:1rem; height:1rem;
  margin:0 .25rem 0 0;
  padding:0 0 0 1px;

  display:inline-grid;
  grid-template-columns:min-content;
  align-items:center;
  justify-content:left;

  font-family:'Open Sans', sans-serif;
  font-size:4.5px;
  line-height:1em;

  color:inherit;
  border:solid 1px currentColor; 
}

/* form */
header form {
  margin:0; padding:0 .5em;

  display:flex;
  align-items:center;
}

header form input {
  margin:0;
}

header form label {
  padding:0 0 0 .25em;
}

header span {
  display:none;
}

@media (min-width:26em) {
  header span {
    display:inline;
  }
}


/**********/
/* FOOTER */
/**********/
footer {
  grid-column:2/-2;
}

footer nav {
  
}

footer ul {
  margin:0; padding:.25em 0;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  list-style-type:none;
}

footer ul li a {
  padding:0 .5em;
  display:flex;
  align-items:center;
}

footer ul li a::before {
  display:block;
  margin-right:.25rem;
  font-size:1.5em;
}

footer ul li a.home::before {
  content:"🏡";
}
footer ul li a.classroom::before {
  content:"👨‍🏫";
}
footer ul li a.planning::before {
  content:"📆";
}
footer ul li a.uploadbox::before {
  content:"📬";
}


/**************/
/* EEN BULLET */
/**************/
body > div.bullet {
  --width:1;
  --height:1;
  position: fixed;
  width: calc(var(--width) * 1em);
  height: calc(var(--height) * 1em);
  left: calc(var(--posx) * 1px - var(--width) * 0.5em + var(--deltax) * -1em);
  z-index: 10000;
  font-size: 3em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: draai calc(var(--duur) * 1s) ease-out, opneer calc(var(--duur) * 1s), vaaguit calc(var(--duur) * 1s) ease-in;
}

@keyframes draai {
  0% {
    transform: rotate(0) translatex(calc(var(--deltax) * 1em)) rotate(0);
  }
  100% {
    transform: rotate(calc(var(--richting) * -0.5turn)) translatex(calc(var(--deltax) * 1em)) rotate(calc(var(--rotaties) * var(--draairichting) * 1turn));
  }
}
@keyframes opneer {
  0% {
    top: calc(var(--posy) * 1px - (var(--width) * 1em));
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  30% {
    top: calc( var(--posy) * 1px - (var(--width) + var(--deltay)) * 1em);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  100% {
    top: 100%;
  }
}
@keyframes vaaguit {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/********/
/* MAIN */
/********/
main {
  grid-column:2/-2;
  font-size:clamp(1em, 3vw, 1.1em);
}


/*********************/
/* DETAILS & SUMMARY */
/*********************/

/* details */
details {
  display:flow-root;
}

details + details {
  margin-top:clamp(1.5em, 5vw, 2.5em);
}

details[open] {
  background-color:var(--achtergrondHighlightKleur);
}

/* summary */
summary {
  display:grid;
  grid-template-columns:1.5rem 1fr 1.5rem;
  cursor:pointer;
}

summary *:not(:first-child) {
  grid-column:2/3;
}

summary h3,
summary h3 + p  {
  margin:0;
}

/* summary marker */
summary::marker {
  display:none;
}

summary::-webkit-details-marker {
  display:none;
}

summary::before {
  --arrowMaat:.75;
  content:"";
  width:calc(.75 * 0.866 * 1em); height:calc(.75 * 1 * 1em);
  width:.75em; height:.75em;
  justify-self:center;
  align-self:center;
  
  background-color:currentColor;
  clip-path:polygon(13.4% 0, 100% 50%, 13.4% 100%, 13.4% 0);
  transition:clip-path .5s;
}

details[open] summary::before {
  clip-path:polygon(100% 13.4%, 50% 100%, 0 13.4%, 100% 13.4%);
}

/* details content */
summary ~ * {
  margin-left:1.5rem;
  margin-right:1.5rem;
}

details ul,
details ol {
  padding-left:1.375em;
} 


/************/
/* DOCENTEN */
/************/
ul.docenten {
  margin-left:0;
  padding:0;
  list-style:none;

  display:grid;
  grid-gap:1em;
}

ul.docenten li {
  padding:0;
}

ul.docenten a {
  display:grid;
  grid-template-columns:min-content 1fr;
  grid-gap:.5em;
  align-items:center;
}

ul.docenten img {
  display:block;
  width:max(8em, 20vw); height:auto;
}

@media (min-width:32em) {
  ul.docenten {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media (min-width:48em) {
  ul.docenten {
    /* grid-template-columns:repeat(4, 1fr); */
    grid-gap:2em;
  }

  ul.docenten a {
    grid-template-columns:1fr;
    text-align:center;
  }

  ul.docenten img {
    width:100%;
    height:auto;
  }
}


/*************************/
/* BEOORDELINGSFORMULIER */
/*************************/
fieldset {
  margin-top:clamp(1rem, 6vw, 5rem);
  padding:0 clamp(.5em, 3vw, 1em) clamp(.5em, 3vw, 1em);
}

fieldset legend {
  font-weight:600;
}

fieldset section + section {
  margin-top:1em;
  border-top:double 3px currentColor;
}

fieldset ul {
  padding-left:1.375em;
}

/* voorwaarden */
fieldset.voorwaarden section:first-of-type {
  padding-top:1em;
  display:grid;
  grid-template-columns:min-content 1fr;
  grid-gap:1em .25em;
}

fieldset.voorwaarden input {
  margin:.5em .25em;
  align-self:flex-start;
}

fieldset.voorwaarden ul {
  margin:0;
}

/* beoordeling */
fieldset.beoordeling {
  opacity:.25;
  transition:opacity .5s;
}

fieldset.voorwaarden:valid + fieldset {
  opacity:1;
}

/* voldaan & cijfer */
fieldset section:last-of-type {
  padding:clamp(.5em, 3vw, 1em) 0 0;
  display:grid;
  grid-template-columns:1fr min-content;
  grid-gap:0 .5em;
  align-items:center;
}

fieldset section:last-of-type p {
  margin:0;
  grid-column:1/2;
  justify-self:flex-end;
  text-align:right;
  line-height: normal;
}

fieldset section:last-of-type output {
  width:5em;
  padding:.5em 0;
  font-weight:600;
  text-align:center;
  text-transform:uppercase;
  background:var(--achtergrondHighlightKleur);
  border:solid 1px currentColor;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* voldaan */
fieldset.voorwaarden section:last-of-type output::after {
  content:attr(data-nee);
}

fieldset.voorwaarden:valid section:last-of-type output::after {
  content:attr(data-ja);
}

/* cijfer */
fieldset.beoordeling section:last-of-type p + p {
  font-size:clamp(.6em, 2vw, 1em);
}

fieldset.beoordeling section:last-of-type output {
  grid-column:2/3;
  grid-row:1/4;
  align-self:stretch;
}

fieldset.beoordeling section:last-of-type output::after {
  content:attr(data-een);
}

fieldset.voorwaarden:valid + fieldset section:last-of-type output::after {
  content:attr(data-cijfer);
}