* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --beige: hsl(34, 52%, 82%);
    --dark-blue: #171230;
    --white: white;
    --black: rgb(32, 32, 33);
}

body {
    /* height: 100vh; */
    display: grid;
    place-content: center;
    align-items: center;
    width: 100%;
    /* background-color: var(--dark-blue); */

}

/* Container */
main {
    padding: .5em;
    place-self: center;
    scroll-snap-type: x mandatory;

    overflow-x: auto;
    display: flex;
    gap: 1.5em;

    width: 80%;

}

h1 {
    color: var(--black)
}

header {
    display: grid;
    place-items: center;
}

header h1 {
    font-size: 5vw;
    padding: .5em;
}

/* Items */
section {
    display: grid;
    place-content: center;
    background-color: var(--dark-blue);
    border-radius: 2em;
    /* height: 30rem; */
    scroll-snap-align: center;
    block-size: 70vmin;
    aspect-ratio: 1;
    /* background-color: var(--white); */
    filter: drop-shadow(.2em .2em .2em rgba(0, 0, 0, 0.374));
    position: relative;
}

section h1 {
    color: var(--white);
    position: absolute;
    top: 1em;
    left: 1em;
}

/************************/
/* SECTION 1 - PIXELART */
/************************/
section:nth-of-type(1) figure {
    width: 1em;
    aspect-ratio: 1;
    background-color: hotpink;
    box-shadow:
        0 0 0 blue,
        1em 0 0 yellow,
        2em 0 0 lightpink,
        3em 0 0 black,
        4em 0 0 pink,
        5em 0 0 purple,
        6em 0 0 dodgerblue,

        0 1em 0 blue,
        1em 1em 0 olive,
        2em 1em 0 red,
        3em 1em 0 turquoise,
        4em 1em 0 pink,
        5em 1em 0 white,
        6em 1em 0 coral,

        0 -1em 0 blue,
        1em -1em 0 darkgreen,
        2em -1em 0 darkmagenta,
        3em -1em 0 salmon,
        4em -1em 0 lawngreen,
        5em -1em 0 white,
        6em -1em 0 coral;

    animation-name: pixels;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


/* section:nth-of-type(1) figure:hover { 

    cursor: pointer;
   box-shadow: 
    0 0 0 blue,
    1em 0 0 yellow,
    2em 0 0 red,
    3em 0 0 yellow,
    4em 0 0 pink,
    5em 0 0 purple,
    6em 0 0 dodgerblue,
    
    0 1em 0 teal,
    1em 1em 0 yellow,
    2em 1em 0 red,
    3em 1em 0 orange,
    4em 1em 0 pink,
    5em 1em 0 whitesmoke,
    6em 1em 0 coral;
  
}*/


@keyframes pixels {
    0% {
        box-shadow:
            0 0 0 hotpink,
            1em 0 0 white,
            2em 0 0 red,
            3em 0 0 light blue,
            4em 0 0 pink,
            5em 0 0 purple,
            6em 0 0 dodgerblue,

            0 1em 0 yellow,
            1em 1em 0 darkviolet,
            2em 1em 0 indianred,
            3em 1em 0 teal,
            4em 1em 0 pink,
            5em 1em 0 white,
            6em 1em 0 darkmagenta,

            0 -1em 0 firebrick,
            1em -1em 0 olive,
            2em -1em 0 deeppink,
            3em -1em 0 lime,
            4em -1em 0 pink,
            5em -1em 0 burlywood,
            6em -1em 0 slateblue;


    }

    20% {
        box-shadow:
            0 0 0 lightgreen,
            1em 0 0 yellow,
            2em 0 0 lightskyblue,
            3em 0 0 orangered,
            4em 0 0 pink,
            5em 0 0 purple,
            6em 0 0 dodgerblue,

            0 1em 0 blue,
            1em 1em 0 olive,
            2em 1em 0 crimson,
            3em 1em 0 turquoise,
            4em 1em 0 lightgoldenrodyellow,
            5em 1em 0 white,
            6em 1em 0 coral,

            0 -1em 0 seashell,
            1em -1em 0 magenta,
            2em -1em 0 deeppink,
            3em -1em 0 gold,
            4em -1em 0 royalblue,
            5em -1em 0 burlywood,
            6em -1em 0 yellow;
    }

    30% {
        box-shadow:
            0 0 0 blue,
            1em 0 0 yellow,
            2em 0 0 red,
            3em 0 0 black,
            4em 0 0 pink,
            5em 0 0 purple,
            6em 0 0 dodgerblue,

            0 1em 0 mediumaquamarine,
            1em 1em 0 olive,
            2em 1em 0 lightseagreen,
            3em 1em 0 turquoise,
            4em 1em 0 pink,
            5em 1em 0 lemonchiffon,
            6em 1em 0 green,

            0 -1em 0 lightsalmon,
            1em -1em 0 olive,
            2em -1em 0 green,
            3em -1em 0 cornflowerblue,
            4em -1em 0 pink,
            5em -1em 0 tomato,
            6em -1em 0 slateblue;
    }

    40% {
        box-shadow:
            0 0 0 ivory,
            1em 0 0 yellow,
            2em 0 0 darkblue,
            3em 0 0 black,
            4em 0 0 pink,
            5em 0 0 purple,
            6em 0 0 dodgerblue,

            0 1em 0 blue,
            1em 1em 0 olive,
            2em 1em 0 yellow,
            3em 1em 0 indigo,
            4em 1em 0 hotpink,
            5em 1em 0 white,
            6em 1em 0 orange,

            0 -1em 0 lavender,
            1em -1em 0 darkred,
            2em -1em 0 deeppink,
            3em -1em 0 seagreen,
            4em -1em 0 dodgerblue,
            5em -1em 0 orange,
            6em -1em 0 plum;
    }
}

/****************************/
/* SECTION 2 - 3D ANIMATION */
/****************************/
section:nth-of-type(2) {
    perspective: 1000px;
    /* Hier zet je hoe ver een element kan gaan */
    position: relative;
}

section:nth-of-type(2)>figure {
    /* width: 10em;

 aspect-ratio: 1; */
    /* background-color: gold; */
    transform-style: preserve-3d;
    /* Het wordt een 3d ruimte */
    animation-name: draaien;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


section:nth-of-type(2) figure figure {
    width: 10em;
    clip-path: polygon(50% 0%, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 50% 0%);
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
    aspect-ratio: 1;
    background-color: gold;
    transform-style: preserve-3d;
    /* Het wordt een 3d ruimte */
    animation-name: groter, changing-shapes;
    animation-duration: 1s, 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

section:nth-of-type(2) form {


    position: absolute;
    bottom: 1em;
    left: 1em;


}

section:nth-of-type(2) form label {
    color: var(--white);
    margin-right: .5em;
}

/* Als je op de blue checkbox aanvinkt dan verander de kleur van de vorm*/

body:has(#blue:checked) figure>figure {
    background-color: rgb(112, 114, 231);


}

body:has(#pink:checked) figure>figure {
    background-color: rgb(223, 37, 161);


}

body:has(#blue:checked):has(#pink:checked) figure>figure {
    background-color: aqua;
}

@keyframes draaien {
    0% {
        transform: rotateY(0turn);
    }

    100% {
        transform: rotateY(1turn)
    }
}

@keyframes groter {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(-200%)
    }
}


/*************/
/* SECTION 3 */
/*************/

/* section:nth-of-type(3){
  
} */

section>div {
    animation-name: omhoog;
    animation-duration: 3s;
}


section:nth-of-type(3) article {
    perspective: 10em;
    transform-style: preserve-3d;
    animation-name: bewegen;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section:nth-of-type(3) article figure {
    width: 5em;
    height: 5em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;

}

section:nth-of-type(3) article:first-of-type figure {

    animation-name: rotate-right;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: .3s;
    transform-origin: 0 50%;
}

section:nth-of-type(3) article:nth-of-type(2) figure {

    animation-name: rotate-left;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;


    transform-origin: 0 50%;
}

section:nth-of-type(3) article:nth-of-type(3) figure {
    width: 2em;
    height: 2em;
    animation-name: rotate-left;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1.000, -0.600, 0.735, 0.680);
    ;
    animation-direction: alternate;
    animation-delay: .4s;

    transform-origin: 0 50%;
}


@keyframes rotate-right {
    0% {
        transform: rotateY(0) scale(0);
    }

    100% {
        transform: rotate(360deg) scale(2);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotateY(0) scale(0);
    }

    100% {
        transform: rotate(360deg) scale(2);
    }
}

@keyframes bewegen {
    0% {
        transform: translateZ(0);
    }

    100% {
        transform: translateZ(-50%);
    }
}



/*************/
/* SECTION 4 */
/*************/
/* Gradients */
section:nth-of-type(4) {
    background-image: linear-gradient(purple, deeppink, orange);
    background-position: left top;
    animation: draaiende-gradient 2s linear infinite;
    background-size: 500% 500%;
}


@keyframes draaiende-gradient {
    0% {
        background-position: left top;
    }



    100% {
        background-position: right bottom;
    }
}

/* 

@keyframes draaiende-gradient {
    0% {
        background: linear-gradient(-45deg, deeppink 50%, orange 50%);
    }

    25% {
        background: linear-gradient(90deg, deeppink 50%, orange 50%);
    }

    50%{
        background: linear-gradient(45deg, deeppink 50%, orange 50%);
    }

    100%{
        background: linear-gradient(30deg, deeppink 50%, orange 50%);
    }
} */


section:nth-of-type(4) figure {
    width: 5em;
    height: 5em;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background-image: radial-gradient(crimson 0% 10%, yellow 10% 20%,  lime 20% 30%, dodgerblue 30% 40%, purple 40% 50%,crimson 60% 70%,
    yellow 70% 80%,
    lime 80% 90%,
    dodgerblue 90% 100%); */

    background-image: radial-gradient(crimson, yellow, lime, dodgerblue, purple, crimson,
            yellow,
            lime,
            dodgerblue);
    animation: rainbow 1s infinite linear;

    background-size: 200% 200%;
}

@keyframes rainbow {
    50% {
        background-image: dodgerblue, crimson, yellow, lime, dodgerblue, purple, crimson, yellow, lime;
    }

    100% {
        background-image: lime, dodgerblue, purple, crimson, yellow, lime, dodgerblue, purple, crimson, yellow;
    }
}